.header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 1%;
    background-color: darkblue;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./istockphoto-1298834196-612x612.jpg);

}
.nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    
    
}

.subtitle {
display: flex;
justify-content: flex-end;
margin: 10;
padding: 2%;
color: #fff;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.subtitle-background-image {
background-image: url(./istockphoto-1298834196-612x612.jpg);

}

.about-me {
flex-wrap: wrap;
text-align: justify;
text-overflow: clip;

}

.work {
margin: 0;
inline-size: 20vw;
block-size: 40vh;
display: grid;
width: 100%;
grid-template-columns: 2fr 1fr;
grid-template-rows: repeat(2, 1fr);
gap: 1em;

}

.surf-report  {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    font-family: sans-serif;
    box-sizing: border-box;

}

.run-buddy {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    font-family: sans-serif;
    box-sizing: border-box;

}

.pastel-puzzels {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    font-family: sans-serif;
    box-sizing: border-box;

}

.calculator {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    font-family: sans-serif;
    box-sizing: border-box;

}

.led-wall {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./b147ccd7b58effc687d198bd677c1621.jpg);
    font-family: sans-serif;
    box-sizing: border-box;

}

