.header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;


}



nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    

}

.subtitle{
display: flex;
justify-content: flex-end;
margin: 10;
padding: 2%;



}

.subtitle-background-image {
background-image: url(./subtitle-background-image.pdf);


}